#calendar {
    max-width: 50%;
    margin-right: 10px;
}

#add {
    float: right;
}

#squid {
    align-content: center;   
}

#contentDisplay {
   padding: 5px 5px 5px 5px; 
}

#calendarDisplay {
    padding: 5px 5px 5px 5px;
}