#calendar {
    max-width: 50%;
    margin-right: 10px;
}

#add {
    float: right;
}

.container {
    float: right;
}

#squid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

