#calendar {
    float: left;
    margin-right: 10px;
}

#add {
    float: right;
}

.container {
    float: right;
}

/*#squid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}*/

#contentDisplay {
   padding: 5px 5px 5px 5px; 
}

#calendarDisplay {
    padding: 5px 5px 5px 5px;
}

.dropdown {
    display: inline-block;
    position: static;
    width: 200px;
}

.btn-group-vertical {
    float: right;
    padding-right: 2em;
}